*.pdf
*.enc
*.zip
*.db
*.sdf
*.ipch
*.iobj
*.opendb

VulkanoEngine/Debug/
VulkanoEngine/x64/Debug/
VulkanoEngine/x64/Release/
VulkanoEngine/Release/
VulkanoEngine/Working Executables/
VulkanoEngine/AdditionalLibraries/
VulkanoEngine/Executables/
